.vtmph-temp-hp-group {
  padding-top: 6px;
}

.vtmph-temp-hp-group h3 {
  padding: 0;
  margin: 0;
  font-size: var(--font-size-12);
  display: flex;
  align-items: center;
}

.vtmph-temp-hp-group h3 > span {
  font-size: var(--font-size-11);
}

.vtmph-temp-hp-input {
  flex: 0 0 55px;
  margin-left: auto;
  line-height: unset;
  text-align: center;
  font-family: var(--dnd5e-font-roboto, inherit);
  font-size: inherit;
  font-weight: normal;
  padding: 0;
}
